/**
 * All of the product edit page CSS for your admin-specific functionality should be
 * included in this file.
 */


@media only screen and (max-width: 1248px) {
	.woocommerce_options_panel select {
		margin-top: 15px !important;
		width: 80%;
	}

}


#aswc_subscription_box_product_target_section strong {
	padding-left: 10px;
	font-weight: 600;
	color: #000;
}
