.aswcMsfWrapper {
  height: 100%;
  min-height: 100vh;
}
.aswcTypography {
  text-align: center;
}
.aswcStepper {
  height: 60px;
  border-bottom: 1px solid #dcdcde;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.aswcMsf {
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(226, 228, 231);
  margin: 36px auto 16px;
  padding: 30px;
  padding-top: 22px;
}
.aswcMsf input[type=date],
.aswcMsf input[type=datetime-local],
.aswcMsf input[type=datetime],
.aswcMsf input[type=email],
.aswcMsf input[type=month],
.aswcMsf input[type=number],
.aswcMsf input[type=password],
.aswcMsf input[type=search],
.aswcMsf input[type=tel],
.aswcMsf input[type=text],
.aswcMsf input[type=time],
.aswcMsf input[type=url],
.aswcMsf input[type=week] {
  padding: 18.5px 14px;
  line-height: normal;
  min-height: 1.1876em;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  background: none;
}
.aswc-title {
  margin: 0;
  margin-bottom: 25px;
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
}
.aswcButtonWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aswcHeadingWrap {
  text-align: center;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.aswcHeadingWrap h2 {
  color: #202020;
  font-size: 24px;
  font-weight: 600;
  margin:0;
  line-height: 1.3;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
}
.aswcHeadingWrap p {
  color: #939299;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.aswcButtonWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aswcMsf .aswcFormLabel {
  color: #939299;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  margin-bottom: 15px;
}
.aswcMsf .aswcFormRadio {
  color: #939299;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}
form.aswcMsf h1 {
  color: #202020;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
  text-align: center;
}
.aswcStepper {
    height: 42px;
    border-bottom: 1px solid #dcdcde;
    background: #fff;
}
form.aswcMsf textarea {
  padding: 9.5px 14px;
  border: 1px solid #c7c7c7 !important;
  font-size: 16px;
  color: #2c3338;
}
form.aswcMsf textarea:focus {
  border:1px solid #3f51b5 !important
}
form.aswcMsf textarea::placeholder {
  color: #767676;
}
.aswcCircularProgress {
  text-align: center;
  margin: 0 auto;
  display: block !important;
  margin-bottom: 30px;
}
@media screen and (max-width:991px) {
  span.MuiTypography-root.MuiStepLabel-label {
      display: none;
  }
  .aswcMsfWrapper .MuiStepper-root {
      padding: 20px 5px;
  }
}
